.signupBtn {
  background-color: #4362d0;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}