@import url(page.css);
@import url(header.css);

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #4362d0;
  padding: 40px;
  border-radius: 8px;
  height: 148px;
  margin-top: 40px;
}

.info > p {
  color: #d2dae0;
  font-size: 16px;
}

.info > h3 {
  color: white;
  font-size: 24px;
}
