@import url(page.css);
@import url(header.css);

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBox {
  border-radius: 5px;
  width: 320px;
  height: 64px;
}

.signupTitle {
  text-align: center;
}